<%- include('includes/head.ejs') %>
  <%- include('includes/navbar.ejs') %>
    <br>
    <main id="container">
      <h1>

        <%if (products.length>0){%>
          <h1 class="center">Your Cart</h1>
          <section id="container">
            <div class="products">
              <% products.forEach(p=>{ %>
                <article class="product">
                  <div class="product-image">
                    <img src="<%=p.imageUrl%>" alt="">
                  </div>
                  <div class="product-details">
                    <p class="product-name">
                      <%= p.name%>
                    </p>
                    <div class="flex">
                      <p class="product-price">
                        <%= p.price%>$
                      </p>
                      <p>Qty: <%= p.quantity%>
                      </p>
                    </div>

                    <div class="center">
                      <form action="/removeFromCart" method="post">
                        <button type="submit" class="btn">Remove</button> &nbsp;
                        <input type="hidden" name="productId" value="<%=p._id%>">
                        <a class="btn" href="getDetails/<%= p._id %>">Details</a>
                      </form>
                    </div>
                  </div>

                </article>
                <% })%>
            </div>
          </section>
          <br>
      
      </h1>
      <br>

    </main>
    <div style="text-align: center; background-color: white;padding: 10px; box-shadow:8px 4px 4px 11px rgba(0, 0, 0, 0.09); position: fixed;bottom: 0;width: 100%;" class="footer">
      <h1 style="margin: 20px;" class="center">Cart Total : <%= totalPrice%>$
      </h1>
      <form action="/orderNow" method="post">
        <button  type="submit" class="btn center">Order Now</button>
      </form>
    </div>
    <br>
    <br> <br>
    <br>
    <br> <br>
    <br>
    <br> <br>
    <%}else{%>
      <h1 class="center">No Products In Cart Yet</h1>
      <%}%>
    <%- include('includes/end.ejs') %>